<!DOCTYPE html>
<html>
    <head>
        <title>Titulo</title>
    </head>
    <body>
        <!-- Cabeçalho, menu, -->
        <header>
          engineer iOS, Java, C# .NET Core Hamilton
        </header>
        <!-- Conteudo vai aqui -->

        <!-- Rodapé -->
        <footer>
            © 2020
        </footer>
    </body>
</html>
